In [1]:
# Given probabilities
P_A = 0.83
P_B = 0.82
P_A_and_B = 0.78

# a. P(B|A)
P_B_given_A = P_A_and_B / P_A
P_B_given_A = round(P_B_given_A, 4)

# b. P(A|B)
P_A_given_B = P_A_and_B / P_B
P_A_given_B = round(P_A_given_B, 4)

P_B_given_A, P_A_given_B

(0.9398, 0.9512)

In [2]:
# c. P(B|not A)
P_B_given_not_A = (P_B - P_A_and_B) / (1 - P_A)
P_B_given_not_A = round(P_B_given_not_A, 4)

P_B_given_not_A

0.2353

In [3]:
import pandas as pd

# Total number of students
total_students = 300

# ICT Engineering
ict_students = 0.40 * total_students
ict_employed = 0.85 * ict_students
ict_unemployed = ict_students - ict_employed

# Civil Engineering
civil_students = 100
civil_unemployed = 0.20 * civil_students
civil_employed = civil_students - civil_unemployed

# Mechanical Engineering
mech_unemployed = 9
mech_students = mech_unemployed / 0.20
mech_employed = mech_students - mech_unemployed

# Global Business Engineering
total_unemployed = 0.20 * total_students
glo_unemployed = total_unemployed - (ict_unemployed + civil_unemployed + mech_unemployed)
glo_students = total_students - (ict_students + civil_students + mech_students)
glo_employed = glo_students - glo_unemployed

# Constructing the contingency table
contingency_table = pd.DataFrame({
    'ICT': [ict_employed, ict_unemployed],
    'Civil': [civil_employed, civil_unemployed],
    'Mechanical': [mech_employed, mech_unemployed],
    'Global Business': [glo_employed, glo_unemployed]
}, index=['Employed/Studying', 'Unemployed'])

contingency_table

                     ICT  Civil  Mechanical  Global Business
Employed/Studying  102.0   80.0        36.0             22.0
Unemployed          18.0   20.0         9.0             13.0

In [4]:
# Adding sums of the rows and columns
contingency_table.loc['Total'] = contingency_table.sum()
contingency_table['Total'] = contingency_table.sum(axis=1)

contingency_table

                     ICT  Civil  Mechanical  Global Business  Total
Employed/Studying  102.0   80.0        36.0             22.0  240.0
Unemployed          18.0   20.0         9.0             13.0   60.0
Total              120.0  100.0        45.0             35.0  300.0

In [6]:
from fractions import Fraction

# b. Probability that an unemployed respondent is a former ICT student
P_ICT_given_Unemployed = Fraction(int(contingency_table.loc['Unemployed', 'ICT']), int(contingency_table.loc['Unemployed', 'Total']))
print(f"P(ICT|Unemployed) = {P_ICT_given_Unemployed}")

# c. Probability that an unemployed respondent was a GBE student
P_GBE_given_Unemployed = Fraction(int(contingency_table.loc['Unemployed', 'Global Business']), int(contingency_table.loc['Unemployed', 'Total']))
print(f"P(GBE|Unemployed) = {P_GBE_given_Unemployed}")

# d. Check if being unemployed is independent from being a former ICT student
P_Unemployed = Fraction(int(contingency_table.loc['Unemployed', 'Total']), int(contingency_table.loc['Total', 'Total']))
P_ICT = Fraction(int(contingency_table.loc['Total', 'ICT']), int(contingency_table.loc['Total', 'Total']))
P_Unemployed_and_ICT = Fraction(int(contingency_table.loc['Unemployed', 'ICT']), int(contingency_table.loc['Total', 'Total']))

independent = P_Unemployed_and_ICT == P_Unemployed * P_ICT
print(f"Is being unemployed independent from being a former ICT student? {independent}")

P(ICT|Unemployed) = 3/10
P(GBE|Unemployed) = 13/60
Is being unemployed independent from being a former ICT student? False

In [7]:
# Given probabilities
P_A = 0.1
P_B = 0.2
P_W = 1 - P_A - P_B  # Probability of no disease

P_T_given_A = 0.8
P_T_given_B = 0.5
P_T_given_W = 0.01

# Calculate P(T)
P_T = P_T_given_A * P_A + P_T_given_B * P_B + P_T_given_W * P_W

# Calculate P(A|T)
P_A_given_T = (P_T_given_A * P_A) / P_T
P_A_given_T = round(P_A_given_T, 4)

# Calculate P(B|T)
P_B_given_T = (P_T_given_B * P_B) / P_T
P_B_given_T = round(P_B_given_T, 4)

# Calculate P(W|T)
P_W_given_T = (P_T_given_W * P_W) / P_T
P_W_given_T = round(P_W_given_T, 4)

P_A_given_T, P_B_given_T, P_W_given_T

(0.4278, 0.5348, 0.0374)